

#orlando1{
    background: url(../images/projects/orlando1.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 59%;
    top: 25%;
}
#orlando10{
    background: url(../images/projects/orlando10.png);
    background-size: 100%;
    width: 7%;
    height: 8%;
    left: 70%;
    top: 52%;
}
#orlando11{
    background: url(../images/projects/orlando11.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 65%;
    top: 7%;
}
#orlando2{
    background: url(../images/projects/orlando2.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 38%;
    top: 44%;
}
#orlando3{
    background: url(../images/projects/orlando3.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 45%;
    top: 11%;

}
#orlando4{
    background: url(../images/projects/orlando4.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 62%;
    top: 61%;
}
#orlando5{
    background: url(../images/projects/orlando5.png);
    background-size: 100%;
    width: 14%;
    height: 15.5%;
    left: 20%;
    top: 69%;
}
#orlando6{
    background: url(../images/projects/orlando6.png);
    background-size: 100%;
    width: 20%;
    height: 22%;
    left: 37%;
    top: 60%;
}
#orlando7{
    background: url(../images/projects/orlando7.png);
    background-size: 100%;
    width: 14%;
    height: 16%;
    left: 21%;
    top: 50%;
}
#orlando8{
    background: url(../images/projects/orlando8.png);
    background-size: 100%;
    width: 13%;
    height: 15%;
    left: 54%;
    top: 44%;
}
#orlando9{
    background: url(../images/projects/orlando9.png);
    background-size: 100%;
    width: 16%;
    height: 18%;
    left: 30%;
    top: 25%;
}



#tflm1{
    background: url(../images/projects/tflm1.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 59%;
    top: 25%;
}
#tflm2{
    background: url(../images/projects/tflm2.png);
    background-size: 100%;
    width: 17%;
    height: 19%;
    left: 39%;
    top: 45%;
}
#tflm3{
    background: url(../images/projects/tflm3.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 60%;
    top: 45%;

}
#tflm4{
    background: url(../images/projects/tflm4.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 62%;
    top: 61%;
}
#tflm5{
    background: url(../images/projects/tflm5.png);
    background-size: 100%;
    width: 16%;
    height: 17%;
    left: 34%;
    top: 16%;
}
#tflm6{
    background: url(../images/projects/tflm6.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 26%;
    top: 33%;
}
#tflm7{
    background: url(../images/projects/tflm7.png);
    background-size: 100%;
    width: 14%;
    height: 16%;
    left: 21%;
    top: 50%;
}
#tflm8{
    background: url(../images/projects/tflm8.png);
    background-size: 100%;
    width: 14%;
    height: 15%;
    left: 49%;
    top: 7%;
}







#wuaw1{
    background: url(../images/projects/wuaw1.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 59%;
    top: 25%;
}
#wuaw2{
    background: url(../images/projects/wuaw2.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 33%;
    top: 61%;
}
#wuaw3{
    background: url(../images/projects/wuaw3.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 49%;
    top: 67%;
}
#wuaw4{
    background: url(../images/projects/wuaw4.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 62%;
    top: 61%;
}
#wuaw5{
    background: url(../images/projects/common/jamaica.png);
    background-size: 100%;
    width: 16%;
    height: 17.5%;
    left: 58%;
    top: 44%;
}
#wuaw6{
    background: url(../images/projects/common/drepublic.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 38%;
    top: 33%;
}
#wuaw7{
    background: url(../images/projects/common/wakeupawinner.png);
    background-size: 100%;
    width: 19%;
    height: 22%;
    left: 17%;
    top: 43%;
}
#wuaw8{
    background: url(../images/projects/common/wakeupawinner2.png);
    background-size: 100%;
    width: 14%;
    height: 15%;
    left: 49%;
    top: 7%;
}


#wuaw11{
    background: url(../images/projects/common/mexico2.png);
    background-size: 100%;
    width: 12%;
    height: 14%;
    left: 43%;
    top: 48%;
}

#wuaw9{
    background: url(../images/projects/common/wuaw10.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 37%;
    top: 17%;
}
#wuaw10{
    background: url(../images/projects/rivieram.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 65%;
    top: 7%;
}





#wrhm1{
    background: url(../images/projects/wrhm5.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 59%;
    top: 25%;
}
#wrhm2{
    background: url(../images/projects/wrhm2.png);
    background-size: 100%;
    width: 17%;
    height: 19%;
    left: 37%;
    top: 71%;
}
#wrhm3{
    background: url(../images/projects/wrhm3.png);
    background-size: 100%;
    width: 15%;
    height: 16.8%;
    left: 58%;
    top: 68%;

}
#wrhm4{
    background: url(../images/projects/wrhm4.png);
    background-size: 100%;
    width: 17%;
    height: 19%;
    left: 59%;
    top: 46%;
}
#wrhm5{
    background: url(../images/projects/wrhm1.png);
    background-size: 100%;
    width: 16%;
    height: 18%;
    left: 22%;
    top: 57%;
}
#wrhm6{
    background: url(../images/projects/puerto.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 38%;
    top: 33%;
}
#wrhm7{
    background: url(../images/projects/cancun.png);
    background-size: 100%;
    width: 15%;
    height: 16%;
    left: 22%;
    top: 37%;
}
#wrhm11{
    background: url(../images/projects/face.png);
    background-size: 100%;
    width: 14%;
    height: 15%;
    left: 49%;
    top: 7%;
}


#wrhm8{
    background: url(../images/projects/you.png);
    background-size: 100%;
    width: 12%;
    height: 14%;
    left: 43%;
    top: 48%;
}

#wrhm9{
    background: url(../images/projects/fish.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 38%;
    top: 17%;
}
#wrhm10{
    background: url(../images/projects/rivieram.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 65%;
    top: 7%;
}




#wilm1{
    background: url(../images/projects/wilm7.png);
    background-size: 100%;
    width: 21%;
    height: 24%;
    left: 56%;
    top: 8%;
}
#wilm2{
    background: url(../images/projects/wilm2.png);
    background-size: 100%;
    width: 15%;
    height: 16.5%;
    left: 41%;
    top:71%;
}
#wilm3{
    background: url(../images/projects/wilm3.png);
    background-size: 100%;
    width: 12%;
    height: 13.5%;
    left: 52%;
    top: 57%;

}
#wilm4{
    background: url(../images/projects/wilm4.png);
    background-size: 100%;
    width: 17%;
    height: 19%;
    left: 58%;
    top: 36%;
}
#wilm5{
    background: url(../images/projects/wilm5.png);
    background-size: 100%;
    width: 19%;
    height: 21%;
    left: 24%;
    top: 52%;
}
#wilm6{
    background: url(../images/projects/wilm6.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 61%;
    top: 73%;
}
#wilm7{
    background: url(../images/projects/wilm1.png);
    background-size: 100%;
    width: 24%;
    height: 27%;
    left: 29%;
    top: 22%;
}






#usa1{
    background: url(../images/projects/usa1.png);
    background-size: 100%;
    width: 26%;
    height: 28%;
    left: 53%;
    top: 8%;
}
#usa2{
    background: url(../images/projects/usa2.png);
    background-size: 100%;
    width: 15%;
    height: 16%;
    left: 31%;
    top: 65%;
}
#usa3{
    background: url(../images/projects/usa3.png);
    background-size: 100%;
    width: 14%;
    height: 17%;
    left: 54%;
    top: 63%;

}
#usa4{
    background: url(../images/projects/usa4.png);
    background-size: 100%;
    width: 18%;
    height: 20%;
    left: 59%;
    top: 38%;
}
#usa5{
    background: url(../images/projects/usa5.png);
    background-size: 100%;
    width: 18%;
    height: 20%;
    left: 38%;
    top: 46%;
}
#usa6{
    background: url(../images/projects/usa6.png);
    background-size: 100%;
    width: 21%;
    height: 23%;
    left: 30%;
    top: 21%;
}
#usa7{
    background: url(../images/projects/usa1.png);
    background-size: 100%;
    width: 14%;
    height: 16%;
    left: 21%;
    top: 50%;
}






#vf1{
    background: url(../images/projects/vf1.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 59%;
    top: 25%;
}

#vf2{
    background: url(../images/projects/vf2.png);
    background-size: 100%;
    width: 20%;
    height: 22%;
    left: 56%;
    top: 4%;
}
#vf3{
    background: url(../images/projects/vf3.png);
    background-size: 100%;
    width: 18%;
    height: 21%;
    left: 54%;
    top: 58%;

}
#vf4{
    background: url(../images/projects/vf4.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 61%;
    top: 41%;
}
#vf5{
    background: url(../images/projects/vf5.png);
    background-size: 100%;
    width: 16%;
    height: 18%;
    left: 37%;
    top: 57%;
}
#vf6{
    background: url(../images/projects/vf6.png);
    background-size: 100%;
    width: 17%;
    height: 19%;
    left: 18%;
    top: 64%;
}
#vf7{
    background: url(../images/projects/vf7.png);
    background-size: 100%;
    width: 14%;
    height: 16%;
    left: 21%;
    top: 50%;
}
#vf8{
    background: url(../images/projects/vf8.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 45%;
    top: 21%;
}
#vf9{
    background: url(../images/projects/vf9.png);
    background-size: 100%;
    width: 18%;
    height: 20%;
    left: 27%;
    top: 19%;
}
#vf21{
    background: url(../images/projects/vf21.png);
    background-size: 100%;
    width: 19%;
    height: 22%;
    left: 37%;
    top: 76%;
}
#vf22{
    background: url(../images/projects/vf22.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 41%;
    top: 9%;
}
#vf23{
    background: url(../images/projects/vf23.png);
    background-size: 100%;
    width: 13%;
    height: 15%;
    left: 45%;
    top: 39%;
}
#vf24{
    background: url(../images/projects/vf24.png);
    background-size: 100%;
    width: 21%;
    height: 24%;
    left: 20%;
    top: 39%;
}

#vf10{
    background: url(../images/projects/vf10.png);
    background-size: 100%;
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 39%;
    top: 77%;
}
#vf11{
    background: url(../images/projects/vf11.png);
    background-size: 100%;
    width: 13%;
    height: 15%;
    left: 33%;
    top: 40%;
}
#vf12{
    background: url(../images/projects/vf12.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 41%;
    top: 9%;
}
#vf13{
    background: url(../images/projects/vf13.png);
    background-size: 100%;
    width: 13%;
    height: 15%;
    left: 47%;
    top: 44%;
}
#vf14{
    background: url(../images/projects/vf14.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 21%;
    top: 47%;
}



#tand1{
    background: url(../images/projects/tand1.png);
    background-size: 100%;
    width: 20%;
    height: 23%;
    left: 56%;
    top: 4%;
}
#tand2{
    background: url(../images/projects/tand2.png);
    background-size: 100%;
    width: 14%;
    height: 15%;
    left: 61%;
    top: 58%;
}
#tand3{
    background: url(../images/projects/tand3.png);
    background-size: 100%;
    width: 21%;
    height: 24%;
    left: 21%;
    top: 40%;
}
#tand4{
    background: url(../images/projects/tand4.png);
    background-size: 100%;
    width: 18%;
    height: 20%;
    left: 41%;
    top: 51%;
}
#tand5{
    background: url(../images/projects/tand5.png);
    background-size: 100%;
    width: 21%;
    height: 23%;
    left: 53%;
    top: 29%;
}
#tand6 {
    background: url(../images/projects/tand6.png);
    background-size: 100%;
    width: 17%;
    height: 19%;
    left: 31%;
    top: 22%;
}






#tgm1{
    background: url(../images/projects/tgm1.png);
    background-size: 100%;
    width: 23%;
    height: 26%;
    left: 55%;
    top: 7%;
}
#tgm2{
    background: url(../images/projects/tgm2.png);
    background-size: 100%;
    width: 23%;
    height: 26%;
    left: 27%;
    top: 20%;
}
#tgm3{
    background: url(../images/projects/tgm3.png);
    background-size: 100%;
    width: 17%;
    height: 19%;
    left: 40%;
    top: 65%;

}
#tgm4{
    background: url(../images/projects/tgm4.png);
    background-size: 100%;
    width: 18%;
    height: 20%;
    left: 58%;
    top: 61%;
}
#tgm5{
    background: url(../images/projects/tgm5.png);
    background-size: 100%;
    width: 24%;
    height: 27%;
    left: 48%;
    top: 33%;
}
#tgm6{
    background: url(../images/projects/tgm6.png);
    background-size: 100%;
    width: 19%;
    height: 22%;
    left: 24%;
    top: 46%;
}
#tgm7{
    background: url(../images/projects/you.png);
    background-size: 100%;
    width: 14%;
    height: 16%;
    left: 19%;
    top: 66%;
}
#tgm8{
    background: url(../images/projects/face.png);
    background-size: 100%;
    width: 14%;
    height: 15%;
    left: 29%;
    top: 79%;
}






#wh1{
    background: url(../images/projects/wh1.png);
    background-size: 100%;
    width: 26%;
    height: 28%;
    left: 53%;
    top: 3%;
}
#wh2{
    background: url(../images/projects/wh2.png);
    background-size: 100%;
    width: 21%;
    height: 24%;
    left: 57%;
    top: 69%;
}
#wh3{
    background: url(../images/projects/wh3.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 46%;
    top: 56%;

}
#wh4{
    background: url(../images/projects/wh4.png);
    background-size: 100%;
    width: 22%;
    height: 25%;
    left: 56%;
    top: 34%;
}
#wh5{
    background: url(../images/projects/wh5.png);
    background-size: 100%;
    width: 23%;
    height: 26%;
    left: 21%;
    top: 51%;
}
#wh6 {
    background: url(../images/projects/wh6.png);
    background-size: 100%;
    width: 22%;
    height: 25%;
    left: 29%;
    top: 24%;
}



#oms1{
    background: url(../images/projects/orlando7.png);
    background-size: 100%;
    width: 16%;
    height: 18%;
    left: 59%;
    top: 24%;
}

#oms2{
    background: url(../images/projects/oms2.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 38%;
    top: 44%;
}
#oms3{
    background: url(../images/projects/oms3.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 45%;
    top: 11%;

}
#oms4{
    background: url(../images/projects/oms4.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 62%;
    top: 61%;
}
#oms5{
    background: url(../images/projects/oms5.png);
    background-size: 100%;
    width: 14%;
    height: 15.5%;
    left: 20%;
    top: 69%;
}
#oms6{
    background: url(../images/projects/oms6.png);
    background-size: 100%;
    width: 20%;
    height: 22%;
    left: 37%;
    top: 60%;
}
#oms7{
    background: url(../images/projects/oms1.png);
    background-size: 100%;
    width: 14%;
    height: 16%;
    left: 21%;
    top: 50%;
}
#oms8{
    background: url(../images/projects/orlando8.png);
    background-size: 100%;
    width: 13%;
    height: 15%;
    left: 54%;
    top: 44%;
}
#oms9{
    background: url(../images/projects/orlando9.png);
    background-size: 100%;
    width: 16%;
    height: 18%;
    left: 30%;
    top: 25%;
}

#oms10{
    background: url(../images/projects/orlando10.png);
    background-size: 100%;
    width: 7%;
    height: 8%;
    left: 70%;
    top: 52%;
}

#oms11{
    background: url(../images/projects/orlando11.png);
    background-size: 100%;
    width: 13%;
    height: 14%;
    left: 65%;
    top: 7%;
}





#lts1{
    background: url(../images/projects/orlando8.png);
    background-size: 100%;
    width: 13%;
    height: 15%;
    left: 26%;
    top: 52%;
}

#lts2{
    background: url(../images/projects/lts2.png);
    background-size: 100%;
    width: 11%;
    height: 12%;
    left: 38%;
    top: 44%;
}
#lts3{
    background: url(../images/projects/lts3.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 42%;
    top: 56%;
}
#lts4{
    background: url(../images/projects/lts4.png);
    background-size: 100%;
    width: 15%;
    height: 17%;
    left: 61%;
    top: 29%;
}
#lts5{
    background: url(../images/projects/lts5.png);
    background-size: 100%;
    width: 15%;
    height: 17.5%;
    left: 58%;
    top: 62%;
}
#lts6{
    background: url(../images/projects/lts6.png);
    background-size: 100%;
    width: 23%;
    height: 26%;
    left: 24%;
    top: 19%;
}
#lts7{
    background: url(../images/projects/lts1.png);
    background-size: 100%;
    width: 22%;
    height: 25%;
    left: 47%;
    top: 6%;
}
#lts8{
    background: url(../images/projects/you.png);
    background-size: 100%;
    width: 13%;
    height: 15%;
    left: 54%;
    top: 44%;
}
#lts9{
    background: url(../images/projects/face.png);
    background-size: 100%;
    width: 10%;
    height: 12%;
    left: 68%;
    top: 52%;
}

#lts10{
    background: url(../images/projects/lts7.png);
    background-size: 100%;
    width: 14%;
    height: 17%;
    left: 46%;
    top: 30%;
}
